/*************** COLORS ***************/
$color-primary-dark: #2980b9;
$color-primary-light: #3498db;
$color-accent-dark: #d35400;
$color-accent-light: #e67e22;
$color-success-dark: #27ae60;
$color-success-light: #2ecc71;
$color-danger-dark: #c0392b;
$color-danger-light: #e74c3c;

$color-white: #ffffff;
$color-gray-98: #fafafa;
$color-gray-95: #f2f2f2;
$color-gray-92: #ebebeb;
$color-gray-90: #e6e6e6;
$color-gray-75: #bfbfbf;
$color-gray-60: #999999;
$color-gray-50: #808080;
$color-gray-40: #666666;
$color-gray-25: #3f3f3f;
$color-gray-10: #1a1a1a;
$color-gray-05: #0c0c0c;
$color-black: #000000;

$color-light: (
	background: $color-gray-98,
	text: $color-gray-10
);

$color-dark: (
	background: $color-gray-10,
	text: $color-gray-98
);

$color-button-idle: (
	background: $color-gray-90,
	text: $color-gray-40
);

// not used yet >>>
$color-card_background: $color-gray-98;
$color-spoiler-divider: $color-gray-50;

$color-input-background: $color-gray-95;
$color-input-text: $color-gray-10;
$color-input-placeholder: $color-gray-75;
$color-textarea: $color-input-background;
$color-image: $color-input-background;

$color-table-darker: $color-gray-95;
// <<<

/*************** SHADES ***************/
$shade-dark-gray-90: transparentize($color-gray-10, 0.9);
$shade-dark-gray-70: transparentize($color-gray-10, 0.7);
$shade-dark-gray-50: transparentize($color-gray-10, 0.5);
$shade-dark-gray-30: transparentize($color-gray-10, 0.3);
$shade-dark-gray-10: transparentize($color-gray-10, 0.1);

$shade-light-gray-90: transparentize($color-gray-95, 0.9);
$shade-light-gray-70: transparentize($color-gray-95, 0.7);
$shade-light-gray-50: transparentize($color-gray-95, 0.5);
$shade-light-gray-30: transparentize($color-gray-95, 0.3);
$shade-light-gray-10: transparentize($color-gray-95, 0.1);

/************** GRADIENTS *************/
$linear-gradient-100-50-100: linear-gradient(
		0deg,
		$color-gray-10,
		$shade-dark-gray-50,
		$color-gray-10
);

/************** SHADOWS ***************/
$shadow-subtle: 0 0 0.2rem $shade-dark-gray-90;
$shadow-subtle-filter: drop-shadow(0 0 0.2rem $shade-dark-gray-90);

$shadow-less-subtle-filter: drop-shadow(0 0.2rem 0.2rem $shade-dark-gray-70);

/*********** UTILITY CLASSES **********/
.primary-text {
	color: $color-primary-dark;
}

.accent-text {
	color: $color-accent-dark;
}

.success-text {
	color: $color-success-dark;
}

.danger-text {
	color: $color-danger-dark;
}

.primary-background {
	background: $color-primary-dark;
}

.accent-background {
	background: $color-accent-dark;
}

.success-background {
	background: $color-success-dark;
}

.danger-background {
	background: $color-danger-dark;
}
