:host {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    min-height: 100%;

    .sidebar {
        min-width: 20rem;

        ul {
            list-style: none;

            li {
                a {
                    position: relative;
                    z-index: 1;
                    overflow: hidden;

                    display: block;

                    padding: 1rem;

                    font-size: 1.6rem;

                    transition: color var(--animation--duration--fast) ease-in-out;

                    &::after {
                        content: '';

                        background-color: var(--color--primary);

                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;

                        display: block;

                        animation: slide-out var(--animation--duration--fast) ease-in-out forwards;
                    }

                    &:hover {
                        color: var(--color--primary-opposite);

                        &::after {
                            animation: slide-in var(--animation--duration--fast) ease-in-out forwards;
                        }
                    }

                    &.--active {
                        background: var(--color--secondary);
                        color: var(--color--secondary-opposite);

                        &::after {
                            background: var(--color--secondary);
                        }
                    }
                }
            }
        }
    }

    ::ng-deep {
        .gallery {
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;

            margin: 0 auto;
            padding: 2rem;

            &__home {
                flex: 1;

                display: grid;
                place-items: flex-start;

                padding: 4rem;

                font-size: 1.8rem;
            }

            &__title {
                color: var(--color--placeholder);

                font-size: 2.4rem;

                &__link {
                    transition: color var(--animation--duration--fast) ease-in-out;

                    &:hover {
                        color: var(--color--primary);
                    }
                }

                &__key {
                    color: var(--color--default-foreground);

                    font-size: 2.8rem;
                    font-weight: 700;
                    text-transform: capitalize;

                    &::before,
                    &::after {
                        content: ' ';
                    }
                }
            }
        }
    }
}
