@use "src/app/styles" as *;

.host {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    
    .sidebar {
        min-width: 20rem;
        
        box-shadow: inset $shadow-less-subtle;
        
        ul {
            list-style: none;
            
            li {
                a {
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    
                    display: block;
                    
                    padding: var(--density-wide);
                    
                    font-size: $font-size-normal;
                    font-weight: $font-weight-regular;
                    
                    transition: color $animation-duration--fast ease-in-out;
                    
                    &::after {
                        content: "";
                        
                        background: $color-primary-dark;
                        
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                        
                        display: block;
                        
                        animation: slide-out $animation-duration--fast ease-in-out forwards;
                    }
                    
                    &:hover {
                        color: map-get($color-dark, text);
                        
                        &::after {
                            animation: slide-in $animation-duration--fast ease-in-out forwards;
                        }
                    }
                    
                    &.--active {
                        background: $color-accent-dark;
                        color: map-get($color-dark, text);
                        
                        &::after {
                            background: $color-accent-light;
                        }
                    }
                }
            }
        }
    }
    
    .gallery {
        $max-width: 120rem;
        $cell-width: 30rem;
        $cell-height: 15rem;
        $row-gap: 5rem;
        $index-indent: 1rem;
        
        flex: 1;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        max-width: $max-width;
        
        margin: 0 auto;
        
        &__home {
            flex: 1;
            
            display: grid;
            place-items: flex-start;
            
            padding: var(--density-wide);
            
            font-size: $font-size-larger;
            font-weight: $font-weight-regular;
        }
        
        &__title {
            color: map-get($color-low-priority, text);
            
            margin: $row-gap auto;
            
            font-size: $font-size-larger;
            font-weight: $font-weight-medium;
            
            &__link {
                transition: color $animation-duration--fast ease-in-out;
                
                &:hover {
                    color: $color-primary-dark;
                }
            }
            
            &__key {
                color: map-get($color-light, text);
                
                font-size: $font-size-larger + 0.4rem;
                font-weight: $font-weight-bold;
                text-transform: capitalize;
                
                &::before,
                &::after {
                    content: " ";
                }
            }
        }
        
        &__table {
            display: grid;
            grid-auto-rows: $cell-height;
            grid-template-columns: repeat(auto-fill, $cell-width);
            row-gap: $row-gap;
            justify-content: center;
            
            width: 100%;
            
            list-style: none;
            counter-reset: animation-counter;
            
            &__cell {
                position: relative;
                
                display: grid;
                place-items: center;
                
                counter-increment: animation-counter;
                
                &::before {
                    content: counter(animation-counter, decimal-leading-zero);
                    
                    color: map-get($color-low-priority, text);
                    
                    position: absolute;
                    top: $index-indent;
                    left: $index-indent;
                    
                    font-size: $font-size-small;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
    
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}
