button {
    background-color: var(--color--primary-fade);
    color: var(--color--primary);

    position: relative;
    overflow: hidden;

    border: 2px solid currentColor;

    &,
    &::before,
    &::after {
        transition: all var(--animation--duration--normal);
    }

    &::before,
    &::after {
        content: '';

        background-color: var(--color--primary-darker);

        position: absolute;
        top: 50%;
        z-index: -1;

        clip-path: circle(50% at 50% 50%);

        height: 80%;
        aspect-ratio: 1 / 1;
    }

    &::before {
        left: 0;
        transform: translate(-100%, -50%);
    }

    &::after {
        left: 100%;
        transform: translate(0%, -50%);
    }

    &:hover {
        color: var(--color--primary-opposite);

        z-index: 1;

        border-color: var(--color--primary-darker);

        &::before,
        &::after {
            background-color: var(--color--primary-darker);

            animation: hover--nuclear-fusion var(--animation--duration--normal) forwards;
        }
    }
}

@keyframes hover--nuclear-fusion {
    50% {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        left: 50%;
        transform: translate(-50%, -50%) scale(10);
    }
}
