button {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    &::before,
    &::after {
        content: "";

        background-color: var(--color--primary-darker);

        position: absolute;
        top: 50%;
        z-index: -1;

        clip-path: circle(50% at 50% 50%);

        height: 80%;
        aspect-ratio: 1 / 1;

        transition: all var(--animation--duration--normal);

        :not(.noop) & {
            animation: hover--nuclear-fusion-fade-out var(--animation--duration--normal);
        }
    }

    &::before {
        left: 0;
        transform: translate(-100%, -50%);
    }

    &::after {
        left: 100%;
        transform: translate(0%, -50%);
    }

    &:hover {
        color: var(--color--primary-opposite);

        z-index: 1;

        border-color: var(--color--primary-darker);

        &::before,
        &::after {
            animation: hover--nuclear-fusion-fade-in var(--animation--duration--normal) forwards;
        }
    }
}

@keyframes hover--nuclear-fusion-fade-in {
    50% {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        left: 50%;
        transform: translate(-50%, -50%) scale(10);
    }
}

@keyframes hover--nuclear-fusion-fade-out {
    0% {
        left: 50%;
        transform: translate(-50%, -50%) scale(10);
    }

    50% {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
