.playful-rope {
    display: grid;
    place-items: center;

    height: calc(var(--count, 4) * 1.2em);

    ::ng-deep {
        .circle {
            --size: 1rem;
            --border-width: 0.8rem;

            color: var(--color--primary);

            border-width: var(--border-width);
            border-style: solid;
            border-color: currentColor transparent transparent currentColor;
            border-radius: 999rem;

            animation: loading-animation calc(var(--count, 4) * var(--animation--duration--normal)) linear infinite;
        }
    }
}

@keyframes loading-animation {
    to {
        transform: rotate(360deg);
    }
}
