<header class="header" [ngClass]="{'header--colorful': !isInHome}">
    <div class="header__logo" [class.noop]="noop" (mouseenter)="noop = false">
        <a class="header__logo__link" routerLink="/">CSS Animations</a>
    </div>

    <div class="header__github">
        <a
            href="https://github.com/BijanProgrammer/css-animations"
            target="_blank"
            rel="noreferrer"
            title="GitHub Page"
        >
            <logo-github></logo-github>
        </a>
    </div>

    <div class="header__theme-toggle-button" (click)="themeService.toggleTheme()">
        <icon-dark-mode *ngIf="themeService.theme === Theme.LIGHT"></icon-dark-mode>
        <icon-light-mode *ngIf="themeService.theme === Theme.DARK"></icon-light-mode>
    </div>
</header>
