:host {
    .header {
        display: flex;
        align-items: center;
        gap: 2rem;

        padding-block: 2rem;

        border-block-end: 1px solid var(--color--separator);

        font-size: 2.4rem;

        &__logo {
            position: relative;
            overflow: hidden;

            margin-inline-end: auto;

            &::after {
                content: '';

                background-color: currentColor;

                position: absolute;
                bottom: 0;

                display: block;

                width: 100%;
                height: 0.2rem;

                animation: app--slide-out var(--animation--duration--fastest) forwards;
            }

            &__link {
                font-weight: 700;
            }

            &:hover {
                &::after {
                    animation: app--slide-in var(--animation--duration--fastest) forwards;
                }
            }
        }

        &__github,
        &__theme-toggle-button {
            position: relative;

            cursor: pointer;

            &::before {
                content: '';

                opacity: 0.1;

                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;

                width: 100%;
                height: 100%;

                padding: 0.7em;

                border-radius: 999rem;

                transform: translate(-50%, -50%);
            }

            &:hover {
                &::before {
                    background-color: var(--color--default-foreground);
                }
            }
        }
    }
}
