@use "src/app/styles" as *;

.header {
    --color: #{map-get($color-light, text)};
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: var(--density-wide);
    
    * {
        color: var(--color);
    }
    
    &__logo {
        position: relative;
        
        &::after {
            content: "";
            
            background: currentColor;
            
            position: absolute;
            left: 0;
            
            display: block;
            
            width: 0;
            height: $dimension-header-outline;
            
            transition: width $animation-duration ease-in-out;
        }
        
        &__link {
            font-size: $font-size-larger;
            font-weight: $font-weight-bold;
        }
        
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
    
    &__github {
        transform: scale(1);
        
        transition: transform $animation-duration ease-in-out;
        
        &__icon {
            font-size: $font-size-larger !important;
        }
        
        &:hover {
            transform: scale(1.2);
        }
    }
    
    &--colorful {
        --color: #{map-get($color-dark, text)};
        
        background: $color-primary-dark;
    }
}
