button {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    &::before {
        content: '';

        background-color: var(--color--primary-darker);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        transform: translateX(calc(-100% - 0.1rem));

        transition: all var(--animation--duration--fastest);
    }

    &:hover {
        color: var(--color--primary-opposite);

        z-index: 1;

        border-color: var(--color--primary-darker);

        &::before {
            background-color: var(--color--primary-darker);

            transform: translateX(0%);
        }
    }
}
