.concentric-circles {
    color: var(--color, var(--color--primary));

    ::ng-deep {
        .circle {
            --size: 1rem;
            --border-width: 0.8rem;

            display: inline-block;

            border-width: var(--border-width);
            border-style: solid;
            border-color: currentColor transparent transparent currentColor;
            border-radius: 999rem;

            animation: circle-animation calc(var(--count, 4) * var(--animation--duration--normal)) linear infinite;
        }
    }
}

@keyframes circle-animation {
    to {
        transform: rotate(360deg);
    }
}
