button {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    &::before,
    &::after {
        transition: all var(--animation--duration--fast);
    }

    &::before,
    &::after {
        content: '';

        background-color: var(--color--primary-darker);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &::before {
        transform: translateX(calc(-100% - 0.1rem));
    }

    &::after {
        transform: translateX(calc(100% + 0.1rem));
    }

    &:hover {
        color: var(--color--primary-opposite);

        z-index: 1;

        border-color: var(--color--primary-darker);

        &::before,
        &::after {
            background-color: var(--color--primary-darker);
        }

        &::before {
            transform: translateX(calc(-50% + 0.1rem));
        }

        &::after {
            transform: translateX(calc(50% - 0.1rem));
        }
    }
}
