button {
    background-color: var(--color--primary);
    color: var(--color--primary-opposite);

    transform: scale(1);

    transition: all var(--animation--duration--fast) ease-in-out;

    &:hover {
        background-color: var(--color--primary-darker);

        transform: scale(1.1);
    }
}
