#app {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    margin: auto;

    main {
        flex: 1 0 0;
    }

    &.noop {
        ::ng-deep {
            *,
            *::before,
            *::after {
                transition-duration: 0s !important;
                animation-duration: 0s !important;
            }
        }
    }
}
