@use "app/styles" as *;

:root {
    @include generate-density-variables;
}

*,
*::before,
*::after {
    background: none;
    
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    
    border: none;
    outline: none;
    
    font-family: "Roboto", sans-serif;
    
    text-decoration: none;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: $color-gray-75;
    
    border: none;
    border-radius: 1rem;
}

html {
    height: 100%;
    
    font-size: 62.5%;
    font-weight: 300;
}

body {
    @include extract-color($color-light);
    
    display: flex;
    
    min-height: 100%;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    flex: 1;
}

a {
    color: map-get($color-light, text);
}

button {
    @include extract-color($color-button-idle);
    
    min-width: 15rem;
    
    padding: var(--density-normal) var(--density-wide);
    
    border-radius: 999rem;
    
    cursor: pointer;
}

input,
textarea {
    background: $color-input-background;
    color: $color-input-text;
    
    &::placeholder {
        color: $color-input-placeholder;
    }
}

svg {
    display: flex;
}

.material-icons {
    font-size: 1.4rem;
}
